@import "breakpoints";
@import "vars";
@tailwind base;
@tailwind components;
@tailwind utilities;

// Nunito Sans font
// Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Nunito Sans', Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
	font-size: 100%;
}

body {
	position: relative;
	overflow-x: hidden;
	background-color: #F5F5F5!important;
	font-family: "Plus Jakarta Sans";
	color: var(--gray-900);
}

body, #root, .wrapper {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.hide-for-mobile {
	// Although this is  called hide-for-mobile
	// It hides stuff in both mobile and tablet
	// views.
	@include notDesktop {
		display: none!important;
	}
}

.hide-for-desktop {
	@include desktop {
		display: none!important;
	}
}

img {
	pointer-events: none;
	&.covered-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.alert-enter {
	opacity: 0;
	transform: scale(0.9);
  }
  .alert-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: all 400ms cubic-bezier(.47,2,.41,1.5);
  }
  .alert-exit {
	opacity: 1;
  }
  .alert-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: all 400ms cubic-bezier(.47,2,.41,1.5);
  }

@import "flex";
@import "position";
@import "nprogress";
@import "button";
@import "input";