@import "../../../styles/breakpoints.scss";

.b12 {
  font-size: 30px !important;
}

.Sidebar {
  margin-top: 50px;
  width: 240px;
}

@media only screen and (max-width: 800px) {
    .Sidebar {
      display: none;
    }
  }