@import "../../../styles/breakpoints.scss";

.Login {
	@include tablet {
		min-height: 100vh;
		flex-direction: row!important;
	}
}

.Login-illustration {
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	max-width: 65%;
	display: none;
	@include tablet {
		display: flex;
	}
	&-text {
		z-index: 1;
		.text {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			color: var(--main);
			width: 100%;
			bottom: 1rem;
			padding: 0 0.75rem;
			font-size: 1rem;
		}
	}
	&-image {
		z-index: 0;
	}
}