@import "../../../styles/breakpoints.scss";


.FormHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.Form {
    width: 100%;
    max-width: 700px;
    border: 1px solid var(--gray-200);
    padding: 30px;
    border-radius: 20px;
    background-color: white;
}

.b {
	display: inline-block;
    font-size: 30px;
}

.submit2{
    margin-left: auto;
    margin-top: 25px;
}

.InputGroup {
    display: inline;
}

label {
    display: block;
}

.react-tel-input .form-control {
    width: 100%;
}

Input {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .Form {
      border: none;
      border-radius: 0;
      padding: 0px 20px;
      max-width: 95%;
    }
  }

@media only screen and (min-width: 600px) {
    .InputGroup {
        display: flex;
        gap: 15px;
    }
    .submit2 {
        margin-left: 0px;
        margin-top: 25px;
    }
}