.Menu-Item {
    padding: 12px 42px 12px;
    border-radius: 16px;
    background: transparent;
    cursor: pointer;

    &.active {
        background-color: var(--main-light-200);
    }
    &-text {
        color: var(--main);
        font-size: 22px;
        font-weight: 600;
    }
}
