@import "../../styles/breakpoints.scss";

.Container {
    width: 100%;
    min-height: 100vh;
	display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

body{
    background-color: var(--gray-50) !important;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: white !important;
    }
  }